.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #8357fe;
}

.logo a {
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
}

.mainMenu {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.mainMenu li a {
    color: white;
    font-weight: 400;
    transition: .6s;
}

.mainMenu li a:hover {
    font-weight: 600;
}